header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(245, 217, 5);
  color: black;
}

h1{
  margin: 1rem 0;
}

p {
  font-size: 18px;
  line-height: 1.5; /* Adjust line spacing for readability */
}

body {
    background-image: url('assets/star-background.png');
    background-repeat: repeat;
    font-family: 'Comic Sans MS', 'Chalkboard', 'Chalkboard SE', 'Arial', sans-serif;
    cursor: url('assets/glove.png'), auto;
    margin: 0;
    padding: 0;
    /* Other styles */
  }

  .container {
    text-align: center;
    z-index: 1; /* Ensure content is above the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .schedule {
    text-align: left;
  }

  .container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    z-index: -1; /* Behind the content */
   } 

   .retro-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #00ffe5; /* Retro color */
    border: 2px solid rgb(245, 217, 5); /* Retro border color */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px  rgb(245, 217, 5); /* Initial shadow for 3D effect */
  }
  
  .retro-button:hover {
    transform: translateY(2px); /* Move button down slightly on hover */
    box-shadow: 0 3px  rgb(245, 217, 5); /* Shadow effect on hover */
  }

  @media only screen and (max-width: 768px) {
    .container {
      font-size: 14px; /* Smaller font size for mobile */
    }
    
    .retro-button {
      padding: 8px 16px; /* Adjust padding for better click target area */
    }
    
    h1, h2, h3, p {
      font-size: 14px;
      text-align: left; /* Left-align text on mobile */
    }

    h1{
      margin: 5rem;
    }
  }
  